<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">${c.app.get('title')}</py:def>

  <py:def function="optional_head">
    <link type="text/css" rel="stylesheet" media="all" href="/ckanext/community/style.css" />
    <script type="text/javascript" src="/ckanext/community/script.js"></script> 
  </py:def>
  
<div py:match="content" class="community-content">
    
    <div id="content-header">
    <h1 class="title">${c.app.get('title')}</h1>
        
    <form py:if="c.auth_for_update" method="get" action="${h.url_for(controller='apps', id='edit', action=c.app.get('name'))}">
    <input type="submit" value="Edit" />
    </form>
    
    <form py:if="c.auth_for_delete" method="post" action="">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="submit" value="Delete" onClick="return confirmDelete()" />
    </form>
    
    </div>
                                                                                        
    <table>
    	<tbody>
    		<tr>
    			<th>Overview</th>
    			<td>
    			<div>
    			<p>${c.app.description}</p>
    			</div>
    			</td>
    		</tr>

    		<tr>
    			<th>App URL</th>
    			<td>
    			<div>
    			<a href="${c.app.url}" class="ext">${c.app.url}</a><span class="ext"></span>
    			</div>
    			</td>
    		</tr>
    		<tr>
    			<th>Tags</th>
    			<td>
    			<div>
    			    <ul>
    			        <li py:for="tag in c.app.tags">
    			            ${h.link_to(tag.name, h.url_for(controller='tag', action='read', id=tag.name))}
    			        </li>
    			    </ul>
    			</div>
    			</td>
    		</tr>
    		<tr>
    		    <th>Submitted By</th>
    		    <td>${c.app.get('submitter')}</td>
    		</tr>
    		<tr>
    		    <th>Submitted</th>
    		    <td>${c.app.created}</td>
    		</tr>
    	</tbody>
    </table>

  <p>
    Page last updated:
     <?python 
        import datetime
     ?>
    ${datetime.datetime.now().strftime('%c')}
  </p>
</div>

<xi:include href="../../layout.html" />
</html>