<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Apps</py:def>

  <py:def function="optional_head">
    <link type="text/css" rel="stylesheet" media="all" href="/ckanext/community/style.css" />
  </py:def>
  
<div py:match="content" class="community-content">
  <h3>
      ${h.link_to('Share your app', h.url_for(controller='apps', action='new'))}
  </h3>
  
  <h1>Ideas</h1>
  <table>
  	<tbody>
  	    <tr>
  	        <th>Name</th>
  	        <th>Description</th>
  	    </tr>
  	    
  	    <py:for each="app in c.apps">
  		<tr>
  		    <td>
  		        ${h.link_to(app.get('name'), h.url_for(controller='apps', action=app.get('name')))}
  		    </td>
  			<td>
  			<div>
  			<p>${app.get('description')}</p>
  			</div>
  			</td>
  		</tr>
  		</py:for>
  	</tbody>
  </table>
  <p>
    Page last updated:
     <?python 
        import datetime
     ?>
    ${datetime.datetime.now().strftime('%c')}
  </p>
</div>

<xi:include href="../../layout.html" />
</html>