<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Applications</py:def>
  <py:def function="page_heading">
  Applications <py:if test="c.tag_name">for Tag: ${c.tag_name}</py:if>
  </py:def>

  <py:def function="optional_head">
    <link type="text/css" rel="stylesheet" media="all" href="/css/apps.css" />
    <style>#minornavigation { visibility: hidden; }</style>    
  </py:def>
  
  <py:match path="primarysidebar">
    <li class="widget-container boxed widget_text">
      <h3>Open Data Applications</h3>
      <p>
        Applications based on open data can help answer lots of questions -
        from everyday matters to affairs of state.
        <br/>
        <p py:if="c.auth_for_create">
          Are you a developer?<br/>${h.link_to('Share your app', h.url_for(action='new'))}
        </p>
      </p>
    </li>
  </py:match>

  <div py:match="content" class="community-content">
    <div py:for="app in c.apps" class="span-7 app">
      <h3>
        ${h.link_to(app.title, h.url_for(action='read', id=app.name))}
      </h3>
      <p>${h.truncate(app.description, length=180, whole_word=True)}</p>
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>
