<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">${c.app.title}</py:def>
  <py:def function="page_heading">${c.app.title}</py:def>

  <py:def function="optional_head">
    <link rel="stylesheet" type="text/css" href="/css/jquery.lightbox-0.5.css" media="screen" />
    <link type="text/css" rel="stylesheet" media="all" href="/css/apps.css" />
    <script type="text/javascript" src="/js/apps.js"></script> 
  </py:def>

  <py:match path="minornavigation">
    <py:if test="c.app">
    <ul class="tabbed">
      <li>${h.subnav_link(c, h.icon('package') + _('View'), action='read', id=c.app.name)}</li>
      <li py:if="c.auth_for_update">
        ${h.subnav_link(c, h.icon('package_edit') + _('Edit'), action='edit', id=c.app.name)}
      </li>
      <li py:if="c.auth_for_delete">
        ${h.subnav_link(c, h.icon('package_delete') + _('Delete'), action='delete', id=c.app.name)}
      </li>
    </ul>
    </py:if>
  </py:match>

  <py:match path="primarysidebar">
    <li class="widget-container boxed widget_text" py:if="not c.hide_welcome_message">
      <h3>First time at ${g.site_title}?</h3>        
      <p>
          ${g.site_title} is a catalogue for data. ${h.subnav_link(c, _('Click here to find out more ...'), controller='home', action='about', id=None)}
      </p>
    </li>

    <li class="widget-container widget_text">
      <ul class="property-list">
        <li py:if="c.app.url">
          <h3>Link</h3>
          <span><a href="${c.app.url}">${c.app.url}</a></span>
        </li>
        <li py:if="c.app.developer">
          <h3>Developer</h3>
          <span py:if="c.app.developer_url"><a
              href="${c.app.developer_url}">${c.app.developer}</a></span>
          <span py:if="not c.app.developer_url">${c.app.developer}</span>
        </li>
        <li py:if="c.app.api_url">
          <h3>API</h3>
          <span><a href="${c.app.api_url}">${c.app.api_url}</a></span>
        </li>
        <li py:if="c.app.code_url">
          <h3>Source Code</h3>
          <span><a href="${c.app.code_url}">${c.app.code_url}</a></span>
        </li>
        <li py:if="c.app.license">
          <h3>License</h3>
          <span>${c.app.license}</span>
        </li>
        <li py:if="c.app.tags">
          <h3>Tags</h3>
          <span py:for="app_tag in c.app.tags">
            <a href="/app/tag/${app_tag.tag.name}">${app_tag.tag.name}</a>
          </span>
        </li>
        <li py:if="c.app.submitter">
          <h3>Submitted by</h3>
          <span>${c.app.submitter}</span>
        </li>
      </ul>
      </li>
  </py:match>

  <div py:match="content" class="community-content">
    ${h.literal(h.markdown(c.app.description))}
    <div class="app-gallery">
      <py:for each="image in c.app.images">
        <a href="/app/image/${image.id}@800x600"><img src="/app/image/${image.id}@240x180" class="screenshot" /></a>
      </py:for>
    </div>
  </div>

  <py:def function="optional_footer">
    <script type="text/javascript" src="/js/jquery.lightbox-0.5.min.js"></script>
    <script>
      $(function() {
        $('.app-gallery a').lightBox({
            imageLoading:			'/img/lightbox-ico-loading.gif',
            imageBtnPrev:			'/img/lightbox-btn-prev.gif',			
            imageBtnNext:			'/img/lightbox-btn-next.gif',				
            imageBtnClose:			'/img/lightbox-btn-close.gif',			
            imageBlank:				'/img/lightbox-blank.gif',
          
        });
      });
    </script>
  </py:def>

<xi:include href="../layout.html" />
</html>
