<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <xi:include href="_appsutil.html" />
  <link rel="stylesheet" type="text/css" href="/css/apps.css" />
  <style>
    .spaced-heading {
      margin-top: 1em;
    }

  </style>
  <div class="clearfix"></div>
  <h2 class="spaced-heading">Featured Applications</h2>
  ${apps_list(featured_apps)}
  <div class="clearfix"></div>
  <h2 class="spaced-heading">Featured Ideas</h2>
  ${ideas_list(featured_ideas)}
</html>

